---
const {title, descrip, img} = Astro.props;
---
<div class="flex items-center justify-center flex-col">
    
<h2>{title}</h2>
<img src={img} alt={`imagen de ${title}`} height="50px" width="50px">
<p>{descrip}</p>

</div>

