---
const {title, descrip, img} = Astro.props;
---
    
<div class="flex m-5 p-5 border rounded-t-lg border-second">
   
    <div>    
        <h2 class="text-lg font-sans">{title}</h2>
        <p class="font-sans text-left">{descrip}</p>
    </div>
    
    <img src={img} alt={`imagen de ${title}`} height="50%" width="30%">
    
</div>