---
const {title, descrip, img} = Astro.props;
---
<div class="main">
    
<h2 class="span2">{title}</h2>
<p>{descrip}</p>
<img src={img} alt={`imagen de ${title}`} height="50px" width="50px">

</div>


<style>
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    .span2{
        grid-column: span 2;
    }
</style>